/**----variables-----**/
/**-----listas------**/
/*---mapas----*/
@import url("https://fonts.googleapis.com/css2? family= Barlow:ital,wght@1,500 & family= Gloock & display=swap");
.hero .hero-titulo, .camisetas .camisetas-titulo, .camisetas .camisetas-contenedor div h3, .conocenos .conocenos-titulo, .contacto .contacto-titulo, .registrarse .registrarse-contenedor .registrarse-titulo, .terminos .terminos-titulo, .politica .politica-titulo {
  font-family: 'Barlow', sans-serif;
  font-style: italic;
  text-align: center; }

/*!-----TIPOGRAFIA-----*/
/*!------RESET-------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .navbar .container-fluid .navbar-brand {
  color: black;
  border-color: white;
  font-size: 50px;
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: 10px; }
  header .navbar .container-fluid .navbar-brand span {
    color: red; }

.hero .hero-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 60px;
  background-image: url(../img/fondo-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  flex-direction: column;
  margin: 0px; }

.camisetas .camisetas-titulo {
  background-color: #ffffff;
  padding: 20px;
  margin: 0px;
  background-color: #f3f3f3; }

.camisetas .camisetas-contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .camisetas .camisetas-contenedor div {
    width: 300px;
    height: 450px;
    text-align: center;
    background-color: #ffffff;
    margin: 30px; }
    .camisetas .camisetas-contenedor div img {
      margin-top: 10px;
      width: 200px;
      height: 300px; }
    .camisetas .camisetas-contenedor div h3 {
      margin: 0px;
      font-size: 20px;
      font-weight: 500;
      padding: 10px; }
    .camisetas .camisetas-contenedor div h4 {
      margin: 0px;
      color: #fd0000;
      width: 100%;
      padding: 0px; }
    .camisetas .camisetas-contenedor div .boton {
      text-decoration: none;
      color: black;
      background-color: white;
      font-size: 20px;
      font-weight: bolder;
      margin: 0px;
      padding: 5px;
      text-align: center; }
      .camisetas .camisetas-contenedor div .boton:hover {
        background-color: #e4e4e4; }

.grid-contenedor {
  color: black;
  background-color: #ffffff; }
  .grid-contenedor .grid-enlaces {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    margin-bottom: 10px; }
    .grid-contenedor .grid-enlaces .grid-item {
      position: relative; }
      .grid-contenedor .grid-enlaces .grid-item a img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .grid-contenedor .grid-enlaces .grid-item h3 {
        color: #ffffff;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #0b0b0b96;
        margin: 0px;
        padding: 0px; }

.whatsapp a img {
  color: #29b340;
  font-size: 50px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  margin-left: 20px; }

.conocenos .conocenos-titulo {
  margin: 10px;
  padding: 10px;
  background-color: #f3f3f3; }

.conocenos .conocenos-parrafo {
  font-family: 'Barlow', sans-serif;
  margin: 10px 30px;
  padding: 10px 30px;
  text-align: center; }

.contacto .contacto-titulo {
  margin: 10px;
  padding: 10px; }

.contacto .contacto-contenedor {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contacto .contacto-contenedor .card {
    margin: 10px; }
    .contacto .contacto-contenedor .card .card-body {
      margin: 5px;
      padding: 0px;
      text-align: center; }
      .contacto .contacto-contenedor .card .card-body .card-text {
        text-align: start;
        margin: 5px;
        padding: 0px;
        text-align: center; }

.registrarse .registrarse-contenedor .registrarse-titulo {
  margin: 10px;
  padding: 10px;
  background-color: #f3f3f3; }

.registrarse .registrarse-contenedor .registrarse-parrafo {
  font-family: 'Barlow', sans-serif;
  margin: 10px 30px;
  padding: 10px 30px;
  text-align: center; }

.registrarse .row {
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Barlow', sans-serif;
  margin-right: 0px; }

.terminos .terminos-titulo {
  margin: 10px;
  padding: 10px;
  background-color: #f3f3f3; }

.terminos .terminos-parrafo {
  font-family: 'Barlow', sans-serif;
  margin: 10px 30px;
  padding: 10px 30px;
  text-align: center; }

.politica .politica-titulo {
  margin: 10px;
  padding: 10px;
  background-color: #f3f3f3; }

.politica .politica-parrafo {
  font-family: 'Barlow', sans-serif;
  margin: 10px 30px;
  padding: 10px 30px;
  text-align: center; }

footer {
  background-color: black; }
  footer h2 {
    color: white;
    font-size: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-left: 35px;
    padding-top: 15px; }
    footer h2 span {
      color: red; }
  footer ul {
    list-style: none;
    margin: 10px; }
    footer ul li a {
      font-family: 'Barlow', sans-serif;
      font-weight: 600;
      text-decoration: none;
      color: white; }
      footer ul li a:hover {
        color: #c70101; }
  footer div {
    margin-left: 35px; }
    footer div a i {
      color: white;
      font-size: 50px;
      padding: 5px; }
      footer div a i:hover {
        color: #c70101; }
  footer .copy p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 970px) {
  header {
    position: static; }
  .hero h2 {
    font-size: 50px; }
  .contacto {
    flex-direction: column; }
  .whatsapp {
    display: none; }
  .copy p {
    color: white;
    font-size: 10px; } }

@media screen and (max-width: 650px) {
  footer {
    justify-content: center; }
    footer h2 {
      margin-left: 10px;
      font-size: 40px;
      display: flex;
      justify-content: center; }
    footer ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    footer div {
      display: flex;
      justify-content: center; }
  .hero h2 {
    font-size: 30px; }
  section h2 {
    font-size: 20px; }
  section p {
    font-size: 12px; }
  section h3 {
    font-size: 15px; }
  section form {
    font-size: 10px; }
  section .grid-enlaces {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 450px) {
  header .navbar .container-fluid .navbar-brand {
    font-size: 30px; }
  footer h2 {
    font-size: 30px; }
  section p {
    font-size: 5px; }
  section h4 {
    font-size: 10px; }
  .contacto .card .card-body .card-tittle {
    font-size: 15px; }
  .contacto .card .card-body .card-text {
    font-size: 10px; } }

@media screen and (max-width: 350px) {
  .hero h2 {
    font-size: 20px;
    font-weight: 500; } }
