


footer{
    background-color:$color-primario;
    margin: 0px;
    .footer-contenedor-general{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-contenedor{
            
            
            div{

            .footer-titulo{
                color:$color-secundario;
                font-size:nth($font-size, 8);
                font-family: 'Barlow', sans-serif;
                font-weight: 900;
                font-style: italic;
                margin-left: 35px;
                margin-bottom: 1.3rem;
                

                
                
                span{
                    color:$color-terciario;
                }
            }
            }
            
        
        div{ 
            .footer-lista{
                list-style: none;
                margin: 10px;
                margin-bottom: 1.3rem;
                
                
                
                li{
                    margin: 1rem;
                    margin-left: 0px;
                    a{
                        font-family: 'Barlow', sans-serif;
                        font-weight: 600;
                        text-decoration: none;
                        color:$color-secundario;
                        transition: 0.5s;
                        &:hover{
                            color:nth($colores , 5 );
                        }
                    }
                }
            }
        }
            
            
            
            
                .footer-redes{
                    margin-left: 35px;
                    margin-top: 30px;
                    a{
                        i{
                            color:$color-secundario;
                            font-size:nth($font-size, 8);
                            padding: 5px;
                            transition: 0.5s;
                            &:hover{
                                color:nth($colores, 5);
                            }
                        }
                    }
                }

            }
        
        .footer-mapa{
            
            
                .footer-mapa-titulo{
                    font-family: 'Barlow', sans-serif;
                    font-weight: 600;
                    color: rgb(255, 255, 255);
                
                }
                
        }
    } 
    }


    .copy{
        display: flex;
        justify-content: center;
        align-items: center;
        .copy-linea{
            color: white;
        }
    }
