header{
    .navbar{
        .container-fluid{
            .navbar-brand{
                color: $color-primario;
                border-color:white;
                font-size: 50px;
                font-family: 'Barlow', sans-serif;
                font-weight: 900;
                font-style: italic;
                margin: 10px;
                span{
                    color:red;
                }
            }
        }
    }
}