.hero{
    .hero-titulo{
        @include flex ( flex, center,center);
        color:$color-secundario;
        font-weight: 400;
        font-size:nth($font-size, 9);
        background:linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.326)), url(../img/fondo-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 60vh;
        flex-direction: column;
        margin: 0px;
        @extend %fuente;
        }
}

.camisetas{
    .camisetas-titulo{
        padding: 20px;
        margin-bottom: 20px;
        background-color:nth($colores, 1);
        @extend %fuente;
    }
    .camisetas-contenedor{
        @include flex ( flex, space-evenly, center);
        flex-wrap: wrap;
        div{
            width: 300px;
            height: 450px;
            text-align: center;
            background-color:$color-secundario;
            margin: 30px;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.073);
                
            }
            img{
                margin-top: 10px;
                width: 200px;
                height: 300px;
                
            }
            h3{
                margin:0px;
                font-size:nth($font-size, 5);
                font-weight: 500;
                padding: 10px;
                @extend %fuente;
                
            }
            h4{
                margin: 0px;
                color:$color-terciario;
                width: 100%;
                padding: 0px;
            }
            .boton{
                text-decoration:map-get($boton, td-boton);
                color:map-get($boton, color-boton);
                background-color:map-get($boton, bc-boton);
                font-size:map-get($boton, fs-boton);
                font-weight:map-get($boton, fw-boton);
                margin:map-get($boton,margin-boton);
                padding:map-get($boton,padding-boton);
                text-align:map-get($boton, ta-boton);
                transition: 0.5s;
                &:hover{
                    color:$color-terciario;
                }
            }
        }
    }
}

.grid-contenedor{
    color:$color-primario;
    background-color: $color-secundario;
    .grid-enlaces{
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        gap: 15px;
        margin-bottom: 10px;
        .grid-item{
            position: relative;
            
            
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h3{
                color:$color-secundario;
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                background-color: #0b0b0b96;
                margin: 0px;
                padding: 0px;
                
            }
        }
    }
}

.conocenos{
    .conocenos-titulo{
        margin: 10px;
        padding: 10px;
        background-color:nth($colores, 1);
        @extend %fuente;
    }
    .conocenos-parrafo{
        font-family: 'Barlow', sans-serif;
        margin: 10px 30px;
        padding: 10px 30px;
        text-align: center;
    }
}

.contacto{
    
    .contacto-titulo{
        margin: 10px;
        padding: 10px;
        @extend %fuente;
    }
    .contacto-contenedor{
        @include flex ( flex, center, center);
        width: 95%;
        margin-left: 20px;
        .card{
            margin: 10px;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.073);
            }
            .card-body{
                
                margin: 0px;
                padding: 0px;
                text-align: center;
    
                .card-text{
                    text-align: start;
                    margin: 5px;
                    padding: 0px;
                    text-align: center;
                }
            }
        }
    }
}


.registrarse{
    .registrarse-contenedor{
        .registrarse-titulo{
            margin: 10px;
            padding: 10px;
            background-color:nth($colores, 1); 
            @extend %fuente;
        }
        .registrarse-parrafo{
            font-family: 'Barlow', sans-serif;
            margin: 10px 30px;
            padding: 10px 30px;
            text-align: center; 
        }
    }

    .row{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-family: 'Barlow', sans-serif;
        margin-right: 0px;

    }
}

.terminos{
    .terminos-titulo{
        margin: 10px;
        padding: 10px;
        background-color:nth($colores, 1);
        @extend %fuente;
    }
    .terminos-parrafo{
        font-family: 'Barlow', sans-serif;
        margin: 10px 30px;
        padding: 10px 30px;
        text-align: center;
        
    }
}

.politica{
    .politica-titulo{
        margin: 10px;
        padding: 10px;
        background-color:nth($colores, 1);
        @extend %fuente;
    }
    .politica-parrafo{
        font-family: 'Barlow', sans-serif;
        margin: 10px 30px;
        padding: 10px 30px;
        text-align: center;
        
    }
}

