@media screen and (max-width:970px){
    header{
        position: static;
    }

    .hero{
        .hero-titulo{
            font-size: nth($font-size, 8);
        }
    }

    .contacto-contenedor{
        flex-direction: column;
    }

    .whatsapp{
        .whatsapp-logo{
            display: none;
        }
    }

    .copy{
        .copy-linea{
            color:$color-secundario;
            font-size:nth($font-size, 2); 
        }
    }
}

@media screen and (max-width:650px){
    
    
    footer{
        justify-content: center;
        .footer-titulo{
            margin-left: 10px;
            font-size: 40px;
            display: flex;
            justify-content: center;
        }
        .footer-lista{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .footer-redes{
            display: flex;
            justify-content: center;
        }
    }

    .hero{
        .hero-titulo{
            font-size:nth($font-size, 5);
            height: 30vh;
        }
    }

    .conocenos{
        .conocenos-titulo{
            font-size:nth($font-size, 5);
        }
        .conocenos-parrafo{
            font-size:nth($font-size, 3);
        }
    }

    .contacto{
        .contacto-titulo{
            font-size:nth($font-size, 4);
        }
    }

    .registrarse{
        .row{
            font-size:nth($font-size, 2);
        }
    }

    .grid-contenedor{
        .grid-enlaces{
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width:450px){
    header{
        .navbar{
            .container-fluid{
                .navbar-brand{
                    font-size:nth($font-size, 6);
                }
            }
        }
    }

    .camisetas{
        .camisetas-contenedor{
            div{
                h4{
                    font-size:nth($font-size, 5);
                }
            }
        }
    }
    footer{
        .footer-titulo{
            font-size:nth($font-size, 6);
        }
    }

    

    .contacto-contenedor{
        .card{
            .card-body{
                .card-tittle{
                    font-size: nth($font-size, 4);
                }
                .card-text{
                    font-size: nth($font-size, 2);
                }
            }
        }
    }
}

@media screen and (max-width:350px){
    .hero{
        .hero-titulo{
            font-size:nth($font-size, 5);
            font-weight: 500;
        }
    }
}