@media screen and (max-width:970px){
    header{
        position: static;
    }

    .hero{
        .hero-titulo{
            font-size: nth($font-size, 8);
        }
    }

    .contacto-contenedor{
        flex-direction: column;
    }

    .whatsapp{
        .whatsapp-logo{
            display: none;
        }
    }


    .copy{
        .copy-linea{
            color:$color-secundario;
            font-size:nth($font-size, 2); 
        }
    }
}

@media screen and (max-width:800px){
    .footer-mapa{
        display: none;
    }
}

@media screen and (max-width:650px){


    footer{
        .footer-contenedor-general{
            display: flex;
            justify-content: center;
            align-items: center;
            .footer-contenedor{
                text-align: center;
                .footer-titulo{
                    margin-right: 35px;
                }
                .footer-lista{
                    padding-right: 32px;
                    li{
                        margin-left: 16px;
                    }
                }
                .footer-redes{
                    margin-right: 35px;
                }
            }
        }
    }
    
    
    

    .hero{
        .hero-titulo{
            font-size:nth($font-size, 6);
            height: 30vh;
        }
    }

    .conocenos{
        
        .conocenos-parrafo{
            font-size:nth($font-size, 3);
        }
    }

    .contacto{
        .contacto-titulo{
            font-size:nth($font-size, 5);
        }
    }

    .registrarse{
        .row{
            font-size:nth($font-size, 2);
        }
    }

    .grid-contenedor{
        .grid-enlaces{
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width:450px){
    

    .camisetas{
        .camisetas-contenedor{
            div{
                h4{
                    font-size:nth($font-size, 5);
                }
            }
        }
    }
    .footer-contenedor-general{
        
        .footer-titulo{
            font-size:nth($font-size, 6);
        }
    }

    

    .contacto-contenedor{
        .card{
            .card-body{
                .card-tittle{
                    font-size: nth($font-size, 4);
                }
                .card-text{
                    font-size: nth($font-size, 2);
                }
            }
        }
    }
}


@media screen and (max-width:350px){


    .hero{
        .hero-titulo{
            font-size:nth($font-size, 5);
            font-weight: 500;
            
        }
    }
}



